@import "@styles/colors";

.content {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
}

.seasons {
  width: 100%;
  display: flex;
  overflow: auto;

  button {
    background: none;
    font-size: 25px;
    text-wrap: nowrap;
    color: white;
    border: none;
    transition: ease-in-out 0.1s;

    &:disabled {
      color: $primary-color;
    }

    &:hover {
      cursor: pointer;
    }
  }
}