.titlePoster {
  border-radius: 10px;

  img {
    border-radius: inherit;
    height: inherit;
  }
}

.titlePoster.small {
  height: 250px;
}

.titlePoster.medium {
  height: 400px;
}

.titlePoster.large {
  height: 600px;
}

.titlePoster.animated {
  transform: scale(1);
  transition: ease-in-out 0.3s;
}

.titlePoster.animated:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.titlePoster.disabled {
  transform: scale(1);

  img {
    filter: grayscale(1);
  }
}