@import "@styles/colors";
@import "@styles/utils";

.button {
  text-transform: uppercase;
  font-weight: 500;
  min-width: 64px;
  appearance: none;
  background-color: transparent;
  border-radius: $border-radius;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 0.875rem;
  margin: 0;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: $transition;
  padding: $spacing-s1 $spacing-s2;
}

.button:disabled {
  pointer-events: none;
}

.button.fullWidth {
  width: 100%;
}

.button.contained {
  background-color: $primary-color;
  box-shadow: $shadow-l1;

  &:hover {
    background-color: $primary-darker;
  }

  &:active {
    box-shadow: none;
  }
}

.button.outlined {
  border: 1px solid $primary-color;
}

.button.outlined, .button.text {
  color: $primary-color;

  &:hover {
    background-color: $primary-transparent;
  }

  &:active {
    background-color: $primary-transparent-active;
  }
}