.previewTemplate {

  .progress {
    width: 100%;
    height: 5px;
  }

  .info {
    padding: 0 10px;
    color: white;
  }
}

.previewTemplate.small {
  width: 384px;

  img {
    border-radius: 3px;
    height: 160px;
    width: inherit;
  }
}

.previewTemplate.medium {
  width: 480px;

  img {
    border-radius: 6px;
    height: 200px;
    width: inherit;
  }
}

.previewTemplate.large {
  img {
    border-radius: 9px;
    height: 400px;
    width: 700px;
  }
}

.previewTemplate.clickable {
  cursor: pointer;
  transition: ease-in-out 0.1s;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.42);

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 0 23px 13px rgba(0, 0, 0, 0.42);
  }
}